google-api-core==2.11.0
google-auth==2.16.3
google-cloud==0.34.0
google-cloud-bigquery==3.7.0
google-cloud-core==2.3.2
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
Pillow==9.4.0
streamlit==1.20.0
wordcloud==1.8.2.2
